---
import { WordpressServices } from "../../data/wordpress";
const page = await WordpressServices.getPageBySLug("accueil");
const services  = page.acf.services
---

<section class="py-28 md:py-40 bg-[--secondary-color]">
  <div class="container mx-auto">
    <div class="grid grid-cols-12 gap-4">
      <div data-aos="fade-up" class="col-span-12 lg:col-span-6 mb-20 lg:mb-0">
        <div class="font-montserrat font-semibold text-2xl md:text-5xl mb-8">
          <Fragment set:html={page.acf.titre_infos} />
        </div>
        <div class="font-montserrat font-light leading-7 text-lg mb-16">
          <Fragment set:html={page.acf.texte_infos} />
        </div>
        <div class="font-montserrat font-semibold text-2xl md:text-5xl mb-8">
          <Fragment set:html={page.acf.titre_services_infos} />
        </div>
        <div class="flex flex-col sm:flex-row justify-between sm:items-end gap-8 md:gap-0">
          {
            services.map((service) => (
              <div class="font-montserrat texte-xl uppercase flex flex-col justify-center items-center">
                <img class="mb-8" src={service.icone.url} alt={service.icone.description}>
                <span>{service.texte}</span>  
              </div>
            ))
          }
        </div>
      </div>
      <div class="col-span-12 lg:col-span-4 lg:col-start-8 relative">
        <div class="absolute top-0 left-1/2 md:left-0 w-40 h-40 md:w-52 md:h-52 text-center bg-[--primary-color] -translate-x-1/2 md:-translate-x-1/4 -translate-y-1/4 rounded-3xl flex justify-center items-center font-montserrat text-2xl md:text-5xl font-semibold text-white drop-shadow-2xl">
          {page.acf.encart_infos}
          </div>
        <img class="w-full h-full object-cover" src={page.acf.image_infos.url} alt={page.acf.image_infos.description}>
        <svg class="fill-[--primary-color] absolute bottom-0 right-0 md:translate-x-1/2 translate-y-1/3" xmlns="http://www.w3.org/2000/svg" width="89" height="145" viewBox="0 0 89 145">
          <g id="Groupe_9366" data-name="Groupe 9366" transform="translate(-527 -833)" opacity="0.5">
            <circle id="Ellipse_354" data-name="Ellipse 354" cx="2.5" cy="2.5" r="2.5" transform="translate(527 833)"/>
            <circle id="Ellipse_361" data-name="Ellipse 361" cx="2.5" cy="2.5" r="2.5" transform="translate(527 861)"/>
            <circle id="Ellipse_365" data-name="Ellipse 365" cx="2.5" cy="2.5" r="2.5" transform="translate(527 889)"/>
            <circle id="Ellipse_369" data-name="Ellipse 369" cx="2.5" cy="2.5" r="2.5" transform="translate(527 917)"/>
            <circle id="Ellipse_373" data-name="Ellipse 373" cx="2.5" cy="2.5" r="2.5" transform="translate(527 945)"/>
            <circle id="Ellipse_377" data-name="Ellipse 377" cx="2.5" cy="2.5" r="2.5" transform="translate(527 973)"/>
            <circle id="Ellipse_355" data-name="Ellipse 355" cx="2.5" cy="2.5" r="2.5" transform="translate(555 833)"/>
            <circle id="Ellipse_358" data-name="Ellipse 358" cx="2.5" cy="2.5" r="2.5" transform="translate(555 861)"/>
            <circle id="Ellipse_362" data-name="Ellipse 362" cx="2.5" cy="2.5" r="2.5" transform="translate(555 889)"/>
            <circle id="Ellipse_366" data-name="Ellipse 366" cx="2.5" cy="2.5" r="2.5" transform="translate(555 917)"/>
            <circle id="Ellipse_370" data-name="Ellipse 370" cx="2.5" cy="2.5" r="2.5" transform="translate(555 945)"/>
            <circle id="Ellipse_374" data-name="Ellipse 374" cx="2.5" cy="2.5" r="2.5" transform="translate(555 973)"/>
            <circle id="Ellipse_356" data-name="Ellipse 356" cx="2.5" cy="2.5" r="2.5" transform="translate(583 833)"/>
            <circle id="Ellipse_359" data-name="Ellipse 359" cx="2.5" cy="2.5" r="2.5" transform="translate(583 861)"/>
            <circle id="Ellipse_363" data-name="Ellipse 363" cx="2.5" cy="2.5" r="2.5" transform="translate(583 889)"/>
            <circle id="Ellipse_367" data-name="Ellipse 367" cx="2.5" cy="2.5" r="2.5" transform="translate(583 917)"/>
            <circle id="Ellipse_371" data-name="Ellipse 371" cx="2.5" cy="2.5" r="2.5" transform="translate(583 945)"/>
            <circle id="Ellipse_375" data-name="Ellipse 375" cx="2.5" cy="2.5" r="2.5" transform="translate(583 973)"/>
            <circle id="Ellipse_357" data-name="Ellipse 357" cx="2.5" cy="2.5" r="2.5" transform="translate(611 833)"/>
            <circle id="Ellipse_360" data-name="Ellipse 360" cx="2.5" cy="2.5" r="2.5" transform="translate(611 861)"/>
            <circle id="Ellipse_364" data-name="Ellipse 364" cx="2.5" cy="2.5" r="2.5" transform="translate(611 889)"/>
            <circle id="Ellipse_368" data-name="Ellipse 368" cx="2.5" cy="2.5" r="2.5" transform="translate(611 917)"/>
            <circle id="Ellipse_372" data-name="Ellipse 372" cx="2.5" cy="2.5" r="2.5" transform="translate(611 945)"/>
            <circle id="Ellipse_376" data-name="Ellipse 376" cx="2.5" cy="2.5" r="2.5" transform="translate(611 973)"/>
          </g>
        </svg>
      </div>
    </div>
  </div>
</section>
